#heading {
    color: rgb(18, 18, 36);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#main_div {
    border: 1px solid whit;
    background-color: rgb(18, 18, 36);
    width: 240px;
    height: 250px;
    align-items: center;
    margin: auto;
    padding: 0px;
}

@media screen and (max-width: 300px) {
    #main_div {
        width: 100%;
    }
}

#inputVal {
    height: 30px;
    width: 98%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid blue;
    color: white;
    background-color: rgb(18, 18, 36);
    text-align: right;
}


#history {
    text-align: right;
    padding: 8px 3px 0px 0px;
    margin: 0;
    height: 20px;
    font-size: 10px;
    color: lightgray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*          Buttons styling        */

.button {
    margin: 0;
    margin-block: 0;
    width: 56px;
    color: white;
    border: none;
    padding: 20px 5px 15px 5px;
    height: 25px;
    background-color: rgb(18, 18, 36);
}

.operator {
    padding: 0;
    margin: 0;
    margin-block: 0;
    width: 56px;
    color: lightblue;
    border: none;
    padding: 20px 5px 15px 5px;
    height: 25px;
    background-color: rgb(18, 18, 36);

}

#clear_btn {
    width: 56px;
    margin: 0px 0px 0px 0px;
    height: 25px;
    border: none;
    padding: 20px 5px 15px 5px;
    color: rgb(193, 137, 33);
    background-color: rgb(18, 18, 36);
}



#equalsToBtn {
    width: 60px;
    margin: 0px 0px 0px 0px;
    height: 35px;
    color: white;
    font-weight: 600;
    background-color: lightskyblue;
    transition: all 0.3s;
    border: none;
    background-color: lightskyblue;
}